@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 0.8s ease-out forwards;
}
